# Data Science Tools and Ecosystem

In this notebook Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

 1. Python ;
 2. R ;
 3. Java ;
 4. Javascript;
 5. Scala ;
 6. SQL.

Some of the commonly used libraries used by Data Scientists include:


1. TensorFlow.
2. SciPy.
3. Pandas.
4. NumPy.
5. Scikit-apprendre.
6. Keras.
7. Scrapy.

Exercise 6 - Create a markdown cell with a table of Data Science tools


| Data Science Tools           |                                        
|------------------------|
| Jupyter Notebook  | 
|
| RStudio        | 
|                         
| Pandas        |

### Below are a few examples of evaluating arithmetic expressions in Python

1. Addition : ( 12 + 12 = 24)
2. Multiplication : (4 * 6 = 24)
3. Puissance : (3^3 = 17)
4. Racine carr√©e : \sqrt{25}
5. Division : (6 / 2 = 3)
6. Soustraction : (5 - 3 = 2)

In [6]:
# This a simple arithmetic expression to mutiply then add integers

a = (3*4)+5

print("Result:", a)

Result: 17

In [11]:
# This will convert 200 minutes to hours by diving by 60

minutes = 200
one_hour = 60

conversion = minutes / one_hour

print(minutes, "minutes equivalent to", conversion, "hour")

200 minutes equivalent to 3.3333333333333335 hour


**Objectives :**


 - List popular languages for Data Science
 - Use of markdown
 - Using tables
 - Libraries used by Data Scientists
 - This a simple arithmetic expression to mutiply then add integers

## Author

SIDIBE ABDOULAYE